* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: cairo;
    src: url(../fonts/Cairo-SemiBold.ttf);
}

body {
    font-family: cairo;
}

header.header {
    background-image: url(../images/bg.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

header.header .overlay {
    background-color: rgba(239, 71, 58, 0.8);
    padding-top: 90px;
    position: relative;
    /* overflow        : hidden; */
}

header.header .overlay .header-block {
    margin-top: 120px;
}

header.header .overlay .header-block .header-brand {
    margin-bottom: 65px;

}

header.header .overlay .header-block h1 {
    font-size: 30px;
    color: #fff;
    line-height: 37.5px;
    margin-bottom: 60px;
}

header.header .overlay .header-block p {
    font-size: 18px;
    line-height: 33px;
    color: #fff;
    margin-bottom: 85px;
}

header.header .overlay .header-block .header-buttons a img {
    width: 250px;
}

header.header .overlay .header-block .header-buttons a:nth-child(2) img {
    height: 65px;
}

header.header .overlay .header-img img {

    max-width: 100%;
    position: absolute;
    bottom: -210px;
    top: 0px;
}

main section.feature {
    padding: 80px 0;
    background-color: #fff;
    position: relative;
}

main section.feature .col-md-4:nth-child(1) {
    direction: ltr;
}

main section.feature .col-md-4 .features {
    margin-top: 90px;
}

main section.feature .col-md-4 .features .d-flex {
    margin-bottom: 70px;
}

main section.feature .col-md-4 .features .d-flex .flex-shrink-0 i {
    background-color: #ef473a;
    width: 70px;
    height: 70px;
    line-height: 70px;
    color: white;
    display: block;
    border-radius: 2px;
    text-align: center;
}

main section.feature .col-md-4 .features .d-flex h5 {
    font-size: 24px;
    color: #080808;
    /* line-height: 20px; */
    margin-bottom: 12px;
}

main section.feature .col-md-4 .features .d-flex p {
    font-size: 15px;
    line-height: 20px;
    color: #757474;
}

main section.feature .col-md-4 .feature-img img {
    width: 80%;
}

main section.option {
    background-color: #f9f8f8;
    padding-top: 120px;
    position: relative;
}

main section.option .options {
    margin-top: 40px;
    margin-right: 40px;
}

main section.option .options .d-flex {
    margin-bottom: 60px;
}

main section.option .options .d-flex h5 {
    font-size: 24px;
    line-height: 40px;
    color: #141414;
}

main section.option .options .d-flex p {
    font-size: 15px;
    line-height: 20px;
    color: #757474;
}

main section.option .option-img {
    position: absolute;
    bottom: -71px;
}

main section.slider {
    background-color: #fff;
    padding: 80px 0;
    position: relative;
}

main section.slider .slider-text h3 {
    font-size: 36px;
    line-height: 38px;
    color: #141414;
    margin-bottom: 60px;
}

section.slider .slider-carousel .carousel-inner {
    width: 60%;
    margin: auto;
}

section.slider .slider-carousel button.carousel-control-prev,
section.slider .slider-carousel button.carousel-control-next {
    color: #ef473a;
    width: 70px;
    height: 70px;
    border: 1px solid #ef473a;
    border-radius: 50%;
    top: 50%;
    bottom: 50%;
    opacity: 1;
}

section.slider .slider-carousel .carousel-indicators {
    top: 105%;
}

section.slider .slider-carousel .carousel-indicators button.active {
    background-color: #ef473a;
}

section.slider .slider-carousel .carousel-indicators button {
    width: 20px;
    height: 20px;
    border: 1px solid #ef473a;
    border-radius: 50%;
}

section.faq {
    background: url(../images/bg-2.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

section.faq .overlay {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 70px 0;
}

section.faq .overlay .faq-title h3 {
    font-size: 30px;
    color: #fff;
    margin-bottom: 60px;
}


section.faq .accordion .accordion-item {
    margin-bottom: 25px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 0;
    border: 0;
}

section.faq .accordion .accordion-item .accordion-header button {
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 18px;
    color: #fff;
}

section.faq .accordion .accordion-item .accordion-header button:focus {
    border-color: transparent;
    box-shadow: none;
}

section.faq .accordion .accordion-item .accordion-header button::after {
    content: none;
}

section.faq .accordion .accordion-item .accordion-header button i {
    margin-right: auto;
}

section.faq .accordion .accordion-item .accordion-header button.collapsed i {
    transform: rotate(180deg) !important;
}

section.faq .accordion .accordion-item .accordion-body {
    color: #c9c9c9;
    font-size: 15px;
    line-height: 20px;
}

footer.footer {
    padding-top: 70px;
    background-color: #232323;
}



footer.footer .top-footer {
    border-bottom: solid 2px #292828;
    padding-bottom: 90px;
}

footer.footer .top-footer .widget h4 {
    font-size: 24px;
    line-height: 25px;
    word-spacing: 5px;
    padding-bottom: 25px;
    color: #f4f8fb;
    border-bottom: 2px solid #292828;
    position: relative;
    margin-bottom: 35px;
}

footer.footer .top-footer .widget h4::after {
    content: "";
    width: 90px;
    height: 2px;
    background-color: #ef473a;
    position: absolute;
    right: 0;
    bottom: -1px;
}

footer.footer .top-footer .widget p.aboutus-p {
    font-size: 18px;
    line-height: 40px;
    color: #757474;
    margin-bottom: 100px;
}

footer.footer .top-footer .widget ul.list-inline li.list-inline-item a {
    text-decoration: none;
}

footer.footer .top-footer .widget ul.list-inline li.list-inline-item a>i {
    width: 50px;
    height: 50px;
    font-size: 17px;
    line-height: 50px;
    background-color: #343637;
    border-radius: 50%;
    display: block;
    text-align: center;
    color: #fff;
    transition: all .5s ease;
}

footer.footer .top-footer .widget ul.list-inline li.list-inline-item a>i:hover {
    background-color: #ef473a;
}

footer.footer .top-footer .widget ul.tweets {
    padding-right: 0px;
}

footer.footer .top-footer .widget ul.tweets li {
    list-style-type: none;
    padding: 0;
}

footer.footer .top-footer .widget ul.tweets li:not(:last-child) {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid #292828;
}

footer.footer .top-footer .widget ul.tweets li p {
    font-size: 15px;
    color: #757474;
    line-height: 24px;
    display: inline;
    margin-right: 5px;
}

footer.footer .top-footer .widget ul.tweets li i {
    color: #ef473a;
}

footer.footer .top-footer .widget form input[type="email"] {
    font-size: 14px;
    color: #c6c6c6;
    line-height: 25px;
    background-color: #2c2b2b;
    margin-bottom: 15px;
    border: 0;
    border-radius: 0;
    text-align: right;
}

footer.footer .widget form input[type="email"]::placeholder {
    color: #c6c6c6;
}

footer.footer .widget form input[type="email"]:focus {
    border: 0;
    box-shadow: none;
}

footer.footer .widget form button.btn {
    font-size: 14px;
    border: 0 !important;
    border-radius: 0 !important;
    background-color: #ef473a;
    color: #fff;
    line-height: 25px;
    text-align: center;
    padding: 10px 30px;
}

footer.footer .widget form .invalid-feedback {
    margin-top: -15px;
    margin-bottom: 20px;
}

footer.footer .copyright {
    text-align: center;
    font-size: 14px;
    line-height: 40px;
    color: #565656;
    padding: 15px 0;
}

@media (max-width:1199px) {
    main section.option .option-img {
        right: 40px !important;
    }
}

@media (max-width:992px)and (min-width:768px) {
    header.header .overlay {
        padding: 10px;
    }

    main section.option .option-img {
        top: 5px;
        right: -5px !important;
    }

    header.header .overlay .header-img img {
        right: 50px;
        width: 35%;
    }

    main section.feature .col-md-4 .features .d-flex h5 {
        font-size: 20px;
    }

    section.feature .features .d-flex p {
        font-size: 10px;
        line-height: 15px;
    }

    main section.feature .col-md-4 .feature-img img {
        margin-top: 146px;
        width: 90%;
    }

    /* footer.footer .top-footer .widget ul.list-inline li.list-inline-item a>i{
        width: 40px;
        height: 40px;
        line-height: 40px;
    }       */
    footer.footer .top-footer .widget ul.list-inline li.list-inline-item a>i {
        margin-bottom: 20px;
    }

    main section.option {
        padding-top: 50px;
    }

    section.slider .slider-carousel button.carousel-control-prev,
    section.slider .slider-carousel button.carousel-control-next {
        top: 35%;
    }
}

@media (max-width:768px) {
    header.header .overlay {
        padding-top: 0;
        padding-bottom: 950px;
        text-align: center;
    }

    header.header .overlay .header-img img {
        /* right: 35%;
        width: 25%; */
        top: 43%;
        right: 30%;
    }
    
    main section.feature{
        padding: 0;
    }
    main section.feature .col-md-4 .features{
        margin-top: 50px;
    }
    main section.option {
        padding-top: 0;
        padding-bottom: 600px;
    }
    main section.option .option-img {
        right: 23% !important;
        top: 45%;
    }

    main section.option .option-img img {
        width: 80%;

    }
    section.slider .slider-carousel button.carousel-control-prev, section.slider .slider-carousel button.carousel-control-next{
        display: none;
    }
    section.slider .slider-carousel button.carousel-control-prev,
    section.slider .slider-carousel button.carousel-control-next {
        top: 35%;
    }
    section.slider .slider-carousel .carousel-inner{
        width: 90%;
    }
    footer.footer .top-footer .widget p.aboutus-p {
        margin-bottom: 10px;
    }
}